{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block title %}{% trans 'Task manager' %}{% endblock %}

{% block content %}
<div class="container wrapper flex-grow-1">
      <h1 class="my-4">
          {% trans 'Delete status' %}
      </h1>

<p>{% trans 'Are you sure you want to delete' %} {{ status.name }}?</p>
<form action="{% url 'statuses_delete' status.id %}" method="post">
  {% csrf_token %}
  <input class="btn btn-danger" type="submit" value="{% trans 'Yes, delete' %}">
</form>

    </div>
{% endblock %}