{% extends 'base.html' %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block title %}{% trans "Task manager" %}{% endblock %}

{% block content %}
<div class="container wrapper flex-grow-1">


<h1 class="my-4"></h1>
<div class="card">
  <div class="card-body p-5 bg-light">
    <div class="display-4">{% trans "Task Manager" %}</div>
    <p class="lead">{% trans "A task management web application built with Python and Django framework. It allows you to set tasks, assign performers and change their statuses." %}</p>
    <hr>
    <a class="btn btn-primary btn-lg" href="https://github.com/blacksmokezip/Task-Manager">{% trans "Learn more" %}</a>
  </div>
</div>

</div>
{% endblock %}